service: cloudx-course-import-service
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  stage: dev
  region: eu-west-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action: 
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
            - s3:CopyObject
          Resource: arn:aws:s3:::epam-cloudx-course-import-service/*

plugins:
  - serverless-webpack
  
custom:
  webpack:
    webpackConfig: 'webpack.config.js'

functions:
  importProductsFile:
    handler: src/handlers/importProductsFile.main
    events:
      - http:
          path: import
          method: get
          cors: true
          request:
            parameters:
              querystrings:
                name: true
  importFileParser:
    handler: src/handlers/importFileParser.main
    events:
      - s3:
          bucket: epam-cloudx-course-import-service
          event: s3:ObjectCreated:*
          rules:
            - prefix: uploaded/
          existing: true

